{% extends 'base.html' %}

{% block content %}
<div class='container'>
<br><h1 class='text-center'>PAGINA DE INICIO DE APLICACIONES</H1><br>
<h3 class='text-center'>¡Bienvenidos a la aplicación web de Constructora Carrullanca!</h3>
<br><p class='text-center'>
Este es el espacio virtual dedicado a todos nuestros colaboradores,
 diseñado para mejorar nuestra comunicación interna, aumentar la 
 eficiencia de nuestros procesos y fortalecer la cultura de nuestra
  empresa.
</p><p class='text-center'>
Aquí encontrarás herramientas para gestionar tus tareas, compartir
 información, colaborar en proyectos y mantener una comunicación 
 fluida con tus compañeros de equipo y supervisores. La aplicación
  también proporciona acceso a los recursos de la empresa, la 
  documentación de los proyectos y las últimas actualizaciones y
   noticias de Constructora Carrullanca.
</p><p class='text-center'>
La aplicación ha sido diseñada pensando en ti, para que puedas
 encontrar lo que necesitas de manera rápida y sencilla, y continuar
  realizando el excelente trabajo que contribuye al éxito y crecimiento
   de Constructora Carrullanca. Juntos, continuaremos construyendo el
    futuro.
</p><p class='text-center'>
Recuerda que esta aplicación es un espacio de trabajo seguro y respetuoso,
 diseñado para ayudarte a hacer tu trabajo de la mejor manera posible.
  Estamos ansiosos por ver cómo este nuevo recurso mejorará nuestras
   operaciones diarias y reforzará nuestra misión de construir estructuras
    excepcionales que enriquecen comunidades.
</p><p class='text-center'>
Bienvenido al centro digital de Constructora Carrullanca, ¡estamos
 emocionados de tener esta nueva forma de trabajar juntos!
</p>
</div>
{% endblock %}