{% extends 'base.html' %}
{% block title%} Listado de Personal {% endblock %}
{% block content %}
<h2 class='text-center'>Listado de Personal</h2>

<table class="container table datatable">
    <thead>
    <tr>
        <th scope='col'>#</th>
        <th scope="col">Primer Nombre</th>
        <th scope="col">Segundo Nombre</th> 
        <th scope="col">Apellido Paterno</th> 
        <th scope="col">Apellido Materno</th> 
        <th scope="col">Rut</th> 
        <th scope="col">Fecha Nacimiento</th> 
        <th scope="col">Nacionalidad</th>
        <th scope="col">Sexo</th> 
        <th scope="col">Telefono</th>
        <th scope="col">Correo</th> 
        <th scope="col">Direccion</th>
        <th scope="col">Comuna</th>
        <th scope="col">Afp</th> 
        <th scope="col">Salud</th> 
        <th scope="col">Estado Civil</th>
        <th scope="col">Talla Pantalon</th>
        <th scope="col">Talla Zapato</th>
        <th scope="col">Talla Camisa</th> 
        <th scope="col">Sueldo Base</th>
        <th scope="col">Bono Colacion</th>
        <th scope="col">Bono Movilizacion</th>
        <th scope="col">Cargo</th>
        <th scope="col">Fecha Ingreso</th>
        <th scope="col">Supervisor</th>
        <th scope="col">Fecha Salida</th>
        <th scope="col">Eliminar</th>
    </tr>
</thead>
<tbody>
    {% for persona in personal %}
    <tr>
        <th scope="row"><a href='editar/{{ persona.id }}'>{{ persona.id}}</a></th>
        <td>{{ persona.primer_nombre }}</td>
        <td>{{ persona.segundo_nombre }}</td>
        <td>{{ persona.apellido_paterno }}</td>
        <td>{{ persona.apellido_materno }}</td>
        <td>{{ persona.rut }}</td>
        <td>{{ persona.fecha_nacimiento }}</td>
        <td>{{ persona.nacionalidad }}</td>
        <td>{{ persona.sexo }}</td>
        <td>{{ persona.telefono }}</td>
        <td>{{ persona.correo }}</td>
        <td>{{ persona.direccion }}</td>
        <td>{{ persona.comuna }}</td>
        <td>{{ persona.afp }}</td>
        <td>{{ persona.salud }}</td>
        <td>{{ persona.estado_civil }}</td>
        <td>{{ persona.talla_pantalon }}</td>
        <td>{{ persona.talla_zapato }}</td>
        <td>{{ persona.talla_torso }}</td>
        <td>{{ persona.sueldo_base }}</td>
        <td>{{ persona.bono_colacion }}</td>
        <td>{{ persona.bono_movilizacion }}</td>
        <td>{{ persona.cargo }}</td>
        <td>{{ persona.fecha_ingreso }}</td>
        <td>{{ persona.supervisor }}</td>
        <td>{{ persona.fecha_salida }}</td>
        <td><a href='eliminar/{{ persona.id }}'>X</td>

    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}